@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    overflow-y: hidden;

}

.main-container {
    height: 100vh;
    background-image: url(/assets/desktop/background-main-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // img {
    //     content: url(/assets/desktop/background-main-desktop.jpg);
    //     width: 100vw;
    //     height: auto;
    // }
}

//MAIN APP DESIGN - SEARCH SECTION//


.search {
    display: flex;
    position: relative;
    top: 182px;
    margin: 0 auto;
    height: 50px;
    width: 30%;
    background-color: rgba(29, 29, 29, 0.7);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.search-field {
    align-self: center;
    width: 90%;
    padding-left: 20px;
    outline: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;

    &:hover {
        cursor: pointer;
    }
}

.fa-search {
    align-self: center;
    color: #fff;
    font-size: 25px;

    &:hover {
        cursor: pointer;
    }
}

//MAIN APP DESIGN - WEATHER SECTION//


.weather-data {
    margin: 0 auto;
    background-color: rgba(29, 29, 29, 0.7);
    height: 55vh;
    width: 40vw;
    margin-top: 250px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.weather-data {
    color: #fff;
}

.city-location {
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    font-weight: 300;
}

.current-date {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    margin-top: 20px;
}

//MAIN APP DESIGN - TEMP DATA PORTION//

.weather-bottom-info {
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    padding: 70px 85px;
}

.temp {
    // background-color: green;
    height: 159px;
    width: 240px;
}

.temp-value {
    font-size: 100px;
}

.temp-toggle-container {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

.temp-units {
    padding: 0 10px;
}

.temp-toggle-btn {
    width: 40px;
    height: 18px;
    background-color: #3C9DC7;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);

    .toggle-circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-color: #E7E7E7;
        box-shadow: 0 2px 5px  rgba(0, 0, 0, .2);
    }
}


//MAIN APP DESIGN - ICON LAYOUT PORTION//

.temp-icons {
    // background-color: pink;
    height: 182px;
    width: 287px;
}

.temp-icons-top, .temp-icons-bottom{

    display: flex;
    justify-content: space-between;
}

.temp-icons-top {
    padding: 20px 10px;
}

.temp-icons-bottom {
    padding-top: 30px;
}

.icon {
    display: flex;
}

.wi {
    font-size: 30px;
    padding: 0 15px;
}

.icon-description {
    line-height: 24px;
    position: relative;
    top: 10px;
}
.icon-description h4 {
    font-size: 12px;
    font-weight: 300;
}


//MAIN APP DESIGN - MEDIA QUERIES//